In [1]:
import sqlite3
import pandas as pd
import numpy as np

In [2]:
conn = sqlite3.connect("DbIMDB.db")

result = pd.read_sql_query("SELECT GID,Name from Genre where Name like 'Comedy' ", conn)

result

Empty DataFrame
Columns: [GID, Name]
Index: []

In [3]:
sqlite3 DbIMDB .dump >dump.sql

SyntaxError: invalid syntax (<ipython-input-3-e82a7d918b06>, line 1)

In [4]:
select Name from Person JOIN (select PID as k,count(PID) as c from M_Cast where MID in (select MID from Movie where year NOT BETWEEN 1970 and 1990) group by PID HAVING c>1)as p where PID = p.k ;

SyntaxError: invalid syntax (<ipython-input-4-72cba6e3010d>, line 1)

In [5]:
select per.Name as Director_Name from Person as per join (select p.PID,count(p.PID) as c from M_Director as p, Movie as m where p.MID= m.MID group by p.PID HAVING C >= 10 )as j where per.PID = j.PID;

SyntaxError: invalid syntax (<ipython-input-5-cdebd1c973a3>, line 1)

In [6]:
select per.Name as Director_Name,j.c as no_of_movies from Person as per join (select p.PID,count(p.PID) as c from M_Director as p, Movie as m where p.MID= m.MID group by p.PID HAVING C >= 10 )as j where per.PID = j.PID;

SyntaxError: invalid syntax (<ipython-input-6-3c6a7cc732c4>, line 1)

**working**

In [7]:
select DISTINCT TRIM(per.Name)as Director_Name ,j.c as no_of_movies from Person as per join (select p.PID,count(p.PID) as c from M_Director as p, Movie as m where p.MID= m.MID group by p.PID DESC HAVING C >= 10 )as j where per.PID = j.PID order by c DESC;

SyntaxError: invalid syntax (<ipython-input-7-2ab3ddd7343d>, line 1)

**List the names of all the actors who played in the movie 'Anand' (1971)**

In [8]:
select * from Person where PID IN (select mc.PID as id  from M_Cast as mc where MID = (SELECT MID from Movie where title="Anand" and year = 1971)) as l;

SyntaxError: invalid syntax (<ipython-input-8-e3c9a7a7dce4>, line 1)

In [9]:
select Name from Person INNER JOIN (select mc.PID as id  from M_Cast as mc where MID = (SELECT MID from Movie where title="Anand" and year = 1971)) as l ON PID = l.id ;

SyntaxError: invalid syntax (<ipython-input-9-d9453b0da018>, line 1)

**List all the actors who acted in a film before 1970 and in a film after 1990. (That is: < 1970
and > 1990.)**

In [10]:
select p.Name from Person as p,(select PID as id ,COUNT(id) as c  from M_Cast where MID IN (select MID as mi  from Movie where year NOT BETWEEN 1970 and 1990 ) GROUP BY(id) HAVING c>=2)) =as l where p.PID = l.id ;

SyntaxError: invalid syntax (<ipython-input-10-080a14b29ca3>, line 1)

**QUeSTION 1:**

working

In [ ]:
select p.Name as Director_Name,m.title as Movie_name , m.year as year from Person as p, Movie as m,(select TRIM(PID) as pid,s.mid as mid from M_Director , (select TRIM(MID) as mid FROM Movie where mid IN(select TRIM(MID) as mid from M_Genre where GID IN(select GID from Genre where Name ='Comedy')) and MOD(year,4)=0) as s where s.mid = M_Director.MID) as k where k.mid = m.MID and k.pid = p.PID;

**QUESTION6**

In [ ]:
select title as Movie_Name, ap.c as Cast_count from Movie,(select p.MID as mid, count(mid)as c from (select MID,PID from M_Cast UNION select MID,PID from M_Cast)as p group by mid ORDER by C DESC)as ap where Movie.MID = ap.mid limit 10;

question3

In [ ]:
 select Name from Person where Person.pid in (select pp from (select distinct TRIM(pid) as pp from M_Cast where mid in (select mid from Movie where year < 1970)) AS K INNER JOIN  (select distinct TRIM(pid) as po from M_Cast where mid in (select mid from Movie where year > 1990)) AS KK ON K.pp=KK.po);

Question 2

In [ ]:
select Name from Person where pid in (select TRIM(pid) as pd from M_Cast where mid=(select mid from Movie where title = 'Anand'));